<div class="row">
  <div class="col-6">
    <%= form_with(model: task, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      

      <div class="form-group">
        <%= f.label :content, 'タスク' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :status, 'ステータス' %>
        <%= f.text_field :status, class: 'form-control' %>
      </div>

     

      <%= f.submit '作成', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

