<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to task.user.name, task_path(task.user) %> <span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= task.content %></p>
          <p class="mb-0"><%= task.status %></p>
        </div>
        <div>
          <% if current_user == task.user %>
            <%= link_to '編集', edit_task_path(task), class: 'btn btn-light' %>
            <%= link_to "削除", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
 <%= paginate @tasks %>
</ul>