<h1>id: <%= @tasklist.id %> 編集ページ</h1>

<%= form_with(model: @tasklist, local: true) do |f| %>
  <%= f.label :content, 'メッセージ' %>
  <%= f.text_field :content %>

  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>