<h1>タスク一覧</h1>



<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タスク</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |tasklist| %>
        <tr>
          <td><%= link_to tasklist.id, tasklist %></td>
          <td><%= tasklist.content %></td>
          <td><%= tasklist.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<%= link_to '新規の作成', new_task_path, class: "btn btn-primary" %>

<div class="center jumbotron">
  <div class="text-center">
    <h1>TaskList</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

