<h1>id: <%= @tasklist.id %> 詳細ページ</h1>

<p><%= @tasklist.content %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to '編集する', edit_task_path(@tasklist) %>
<%= link_to 'このタスクを削除する', @tasklist, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>