<table class="table table-bordered">
  <tr>
    <th>ユーザー</th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
</table>



<%= link_to '編集する', edit_task_path(@task), class: 'btn btn-light' %>
<%= link_to '一覧に戻る', tasks_path(@task), class: 'btn btn-light' %>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } , class: 'btn btn-danger'%>
